# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*

# Logs
logs/
*.log
request.log
error.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.swp
*.swo
*~

# Archivos de IDE
.vscode/
.idea/
*.sublime-*

# Archivos de debug
npm-debug.log*
